header {
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,.5)), url('../imgs/violins.jpg');
    margin-top: -15rem;
}

#profileimage {
    margin-top: 10rem;
    margin-bottom: 5%;
    width: 55%;
    //border: 4px solid #313030;
}

#profileimage2 {
    height: 15rem;
}

